@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('img/back2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    width: 100vw;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-title {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: white;
}

.ee08-container {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    background: #9B1D20;
    max-width: 1200px;
    height: 700px;
    border-radius: 5px;
    margin: 20px;
}

.container {
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
}

.container .box {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;

}

.container .box:hover {
    transition: 0.5s;
    transform: translateY(-5px);
}

.container .box::before {
    content: 'EE.08';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box::after {
    content: 'EE.08';
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 5em;
    font-weight: bold;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}

.container .box:hover::before,
.container .box:hover::after {
    opacity: 0.04;
}

.container .box .name {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .name { 
    top: 40px;
    opacity: 1;
}

.container .box .buy {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .buy {
    bottom: 30px;
    opacity: 1;
}

.container .box .circle {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.container .box .product {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 200px;
    transition: 0.5s;
    z-index: 11;
    transform: translate(-50%, -50%);
}

.container .box:hover .product {
    max-width: 230px;
}

.container .box:hover .circle {
    width: 210px;
    height: 210px;
}

.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy {
    background: #9bdc28;
}
.container .box:nth-child(2) .circle,
.container .box:nth-child(2) .buy {
    background: #7c000a;
}
.container .box:nth-child(3) .circle,
.container .box:nth-child(3) .buy {
    background: #0206fe;
}